{% load leaflet_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Leaflet</title>
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <h1>PI WEBGIS</h1>
    <div id="map"></div>

    <script>
        // Defina o URL para acessar a view url_escolas
        var escolasUrl = "{% url 'url_escolas' %}";
        var rasUrl = "{% url 'url_ras' %}";
    </script>

    {% leaflet_js %}
    <script src="{% static 'js/mapaleaflet.js' %}"></script>

    <footer class="rodape">        
        <p class="rodape__texto">Projeto Integrador IV - 1/2024 - WebGIS</p>
    </footer>
</body>
</html>


