<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebGIS</title>
    <!-- Adicione seus estilos aqui, se necessário -->
    <style>
        /* Estilos para o botão */
        .button-container {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <!-- Botão no canto superior direito -->
    <div class="button-container">
        <a href="{% url 'webgis' %}">
            <button>Demo</button>
        </a>
    </div>

    <!-- Área destinada a receber outro HTML -->
    <div id="conteudo">
        {% block content %}
        <!-- Você pode adicionar conteúdo padrão aqui se necessário -->
        {% endblock %}
    </div>

    <!-- Adicione seus scripts aqui, se necessário -->
</body>
</html>



