{% load leaflet_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocCerta</title>
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <header class="cabecalho">
        <div class="cabecalho__logo-container">
            <a href="{% url '' %}" class="cabecalho__link">
                <img class="cabecalho__logo" src="{% static '/assets/icones/location.png' %}" alt="Logo do WebGIS" />
                <span class="cabecalho__texto">LocCerta</span>
            </a>
            <div id="buttonContainer">
                <a href="{% url 'webgis' %}">
                    <button id="btnDEMO">DEMO</button>
                </a>
            </div> 
        </div>                       
    </header>
    
    <img src="{% static '/assets/img/banner.png' %}" alt="Banner" class="banner">

    <div class="servicos">
        <h2>Serviços</h2>
        <section class="servicos_1">
            <div>
                <h2>Personalização Sob Medida</h2>
                <p>Nosso software é desenvolvido especificamente para atender às necessidades exclusivas da sua empresa.</p>
            </div>
            <img src="{% static '/assets/img/servicos01.jpg' %}" alt="Imagem 1">
        </section>
    
        <section class="servicos_2">
            <img src="{% static '/assets/img/servicos02.jpg' %}" alt="Imagem 2">
            <div>
                <h2>Tomada de Decisão Informada</h2>
                <p>Capacitamos sua equipe a tomar decisões estratégicas com base em dados geográficos precisos, impulsionando o sucesso do seu negócio</p>
            </div>
        </section>

        <section class="servicos_1">
            <div>
                <h2>Inovação Constante</h2>
                <p>Mantemos nosso software atualizado com as últimas tecnologias e funcionalidades no campo do SIG web.</p>
            </div>
            <img src="{% static '/assets/img/servicos03.jpg' %}" alt="Imagem 1">
        </section>
    
        <section class="servicos_2">
            <img src="{% static '/assets/img/servicos04.jpg' %}" alt="Imagem 2">
            <div>
                <h2>Suporte Especializado</h2>
                <p>Oferecemos suporte técnico especializado para garantir uma implementação tranquila e eficiente do nosso WebGIS, proporcionando confiança em seu uso</p>
            </div>
        </section>
    </div>
    
    <section class="o-que-e-gis">
        <div>
            <h2>O que é GIS?</h2>
            <p>Um sistema de informação geográfica (GIS) é um sistema que cria, gerencia, analisa e mapeia todos os tipos de dados. 
                GIS conecta dados a um mapa, integrando dados de localização (onde as coisas estão) com todos os tipos de informações descritivas 
                (como as coisas são lá). Isso fornece uma base para mapeamento e análise que é usada na ciência e em quase todos os setores. 
                O GIS ajuda os usuários a entender padrões, relacionamentos e contexto geográfico. Os benefícios incluem melhor comunicação e eficiência, 
                bem como melhor gestão e tomada de decisões.</p>
        </div>
        <img src="{% static '/assets/img/o-que-e-gis.png' %}" alt="Imagem GIS">
    </section>
    

    <section class="sobre-nos">
        <div>
            <h2>Sobre nós</h2>
            <p>A LocCerta, sediada em Brasília - DF, nasceu com a missão de proporcionar conhecimento e inovação no campo da geografia. Com o nosso poderoso software de WebGIS, você e sua empresa podem explorar novas possibilidades e descobrir insights que jamais imaginaram.

                Nosso software é desenvolvido sob medida para atender às suas necessidades específicas, permitindo que você alcance seus objetivos de forma eficiente e eficaz.
                
                Deixe-nos levar a expertise da nossa empresa para a sua, capacitando-o a tomar decisões mais informadas e estratégicas com relação aos dados geográficos. Juntos, podemos desbloquear todo o potencial do seu negócio, proporcionando soluções personalizadas e resultados excepcionais.</p>
        </div>
        <img src="{% static '/assets/img/sobre-nos.png' %}" alt="Imagem GIS">
    </section>

    <footer class="rodape">        
        <p class="rodape__texto">Projeto Integrador IV - 1/2024 - WebGIS</p>
    </footer>
</body>
</html>