{% load leaflet_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocCerta</title>
    <link rel="icon" href="{% static 'assets/icones/location.png' %}" type="image/x-icon">
    <!-- CSS do Bootstrap -->
    <!--link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous"-->
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_leaflet_measure.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_janela_buffer.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-easyPrint/2.1.9/leaflet.easyPrint.css" />
</head>
<body>
    
    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
    <header class="cabecalho_mapa">
        <div class="cabecalho__logo-container">
            <a href="{% url '' %}" class="cabecalho__link">
                <img class="cabecalho__logo" src="{% static '/assets/img/locCerta.png' %}" alt="Logo do WebGIS" />
                <!-- <span class="cabecalho__texto">LocCerta</span> -->
            </a>
        </div>
        <div id="search-container">
            <form id="buscaendereco-form">
                <input type="text" id="address-input" placeholder="Digite o endereço">
                <button type="submit">BUSCAR</button>
            </form>
        </div>
        <div id="buttonContainer-mapa">
            <button id="btnService">
                <img id="imgService" src="{% static 'assets/icones/services.png' %}" alt="Identify">
            </button>
            <button id="btnIdentify">
                <img id="imgIdentify" src="{% static 'assets/icones/information.png' %}" alt="Identify">
            </button>
            <button id="btnTableFeatures">
                <img id="imgIdentify" src="{% static 'assets/icones/table.png' %}" alt="Identify">
            </button>
            <button id="btnBuffer">
                <img id="imgBuffer" src="{% static 'assets/icones/buffer.png' %}" alt="Buffer">
            </button>
            <button id="btnImpressao">
                <img id="imgImpressao" src="{% static 'assets/icones/impressao.png' %}" alt="Impressao">
            </button>
            <button id="btnMedida">
                <img id="imgMedida" src="{% static 'assets/icones/medida.png' %}" alt="Medida">
            </button>
            <button id="btnLogin">
                <a href="{% url 'admin:index' %}">
                    <img id="imgLogin" src="{% static 'assets/icones/admin.png' %}" alt="Login">
                </a>
            </button>
        </div>                        
    </header>
    
    <div id="map"></div>
    <!-- Modal da tabela de atributos-->
    <div class="modal fade" id="tabelaAtributosModal" tabindex="-1" aria-labelledby="tabelaAtributosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="tabelaAtributosModalLabel">Tabela de Atributos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="tabelaAtributosContainer"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="solicitacaoModal" tabindex="-1" role="dialog" aria-labelledby="solicitacaoModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="solicitacaoModalLabel">Cadastro de Solicitação</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- O conteúdo do formulário será carregado aqui -->
                </div>
            </div>
        </div>
    </div>
    
    {% leaflet_js %}
    <script src="{% static 'widgets/ferramenta_leaflet_measure.js' %}"></script>
    <script src="{% static 'widgets/controle_ferramenta_medida.js' %}"></script>
    <script src="{% static 'js/mapabase.js' %}"></script>
    <script src="{% static 'widgets/identificar_feicao.js' %}"></script>
    <script src="{% static 'widgets/busca_endereco_local.js' %}"></script>
    <script src="{% static 'widgets/exibir_coordenadas_mapa.js' %}"></script>
    <script src="{% static 'widgets/criar_buffer.js' %}"></script>
    <script src="{% static 'widgets/controle_criar_buffer.js' %}"></script>
    <script src="{% static 'widgets/abrir_tabela_atributos.js' %}"></script>
    <script src="{% static 'widgets/imprimir_mapa.js' %}"></script> <!--impressao 1 --> 
    <script src="{% static 'widgets/cadastrar_solicitacao.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script-->
    {% bootstrap_javascript %}
    <!-- JavaScript do Bootstrap -->
    <!--script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script-->
    
    <footer class="rodape_mapa">  
        <div class="rodape__texto">
            <p><b>Fale conosco</b></p>
            <p>loccertadf@gmail.com</p>
        </div>      
        <div class="rodape__logo">
            <img src="{% static '/assets/img/locCerta.png' %}" alt="Logo do WebGIS" />
        </div>        
    </footer>
    
</body>
</html>