{% load leaflet_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocCerta</title>
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_leaflet_measure.css' %}">
</head>
<body>
    
    <header class="cabecalho">
        <div class="cabecalho__logo-container">
            <a href="{% url '' %}" class="cabecalho__link">
                <img class="cabecalho__logo" src="{% static '/assets/img/locCerta.png' %}" alt="Logo do WebGIS" />
                <!-- <span class="cabecalho__texto">LocCerta</span> -->
            </a>
        </div>
        <div id="search-container">
            <form id="buscaendereco-form">
                <input type="text" id="address-input" placeholder="Digite o endereço">
                <button type="submit">Buscar</button>
            </form>
        </div>
        <div id="buttonContainer-mapa">
            <button id="btnAddEscola">Adicionar Escola</button>
            <button id="btnPesquisarEscola">Pesquisar Escola</button>
            <button id="btnIdentify">
                <img id="imgIdentify" src="{% static 'assets/icones/identify.png' %}" alt="Identify">
            </button>
            <button id="btnMedida">
                <img id="imgMedida" src="{% static 'assets/icones/medida.png' %}" alt="Medida">
            </button>
            <button id="btnLogin">
                <a href="{% url 'admin:index' %}">
                    <img id="imgLogin" src="{% static 'assets/icones/login.png' %}" alt="Login">
                </a>
            </button>
        </div>                        
    </header>
    
    <div id="map"></div>

    {% leaflet_js %}
    <script src="{% static 'widgets/ferramenta_leaflet_measure.js' %}"></script>
    <script src="{% static 'widgets/controle_ferramenta_medida.js' %}"></script>
    <script src="{% static 'js/mapabase.js' %}"></script>
    <script src="{% static 'widgets/identificar_feicao.js' %}"></script>
    <script src="{% static 'widgets/busca_endereco_local.js' %}"></script>
    <script src="{% static 'widgets/exibir_coordenadas_mapa.js' %}"></script>

    <footer class="rodape">        
        <p class="rodape__texto">Projeto Integrador IV - 1/2024 - WebGIS</p>
    </footer>
    
</body>
</html>