{% load leaflet_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocCerta</title>
    {% leaflet_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilos.css' %}">
</head>
<body>
    <div class="pagina-inicial">
        <header class="cabecalho">
            <div class="cabecalho__logo-container">
                <a href="{% url '' %}" class="cabecalho__link">
                    <img class="cabecalho__logo" src="{% static '/assets/icones/location.png' %}" alt="Logo do WebGIS" />
                    <span class="cabecalho__texto">LocCerta</span>
                </a>
            </div>
            <div class="cabecalho__acoes-container">
                <div id="buttonContainer">
                    <button id="btnAddEscola">Adicionar Escola</button>
                    <button id="btnPesquisarEscola">Pesquisar Escola</button>
                    <button id="btnIdentificarFeicao">Identificar Objeto</button>
                </div>
                <div id="search-container">
                    <form id="buscaendereco-form">
                        <input type="text" id="address-input" placeholder="Digite o endereço">
                        <button type="submit">Buscar</button>
                    </form>
                </div>
            </div>                       
        </header>
    </div>
    
    <div id="map"></div>

    <script>
        // Defina o URL para acessar a view url_escolas
        var escolasUrl = "{% url 'url_escolas' %}";
        var rasUrl = "{% url 'url_ras' %}";
    </script>

    {% leaflet_js %}
    <script src="{% static 'js/mapaleaflet.js' %}"></script>

    <footer class="rodape">        
        <p class="rodape__texto">Projeto Integrador IV - 1/2024 - WebGIS</p>
    </footer>
</body>
</html>