* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    line-height: 1.6;
    font-family: "Montserrat",'Space Grotesk', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#041833,#04244F,#154580);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0; /* Adicionado unidade de medida */
    padding: 0; /* Adicionado unidade de medida */
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
}

/* HEADER */
.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #0E2881;
    padding: 30px; /* Adicionei um padding para espaçamento interno */
    font-weight: bold;
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    box-sizing: border-box; /* Para incluir o padding na largura total */
}

.cabecalho_mapa {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color: #0E2881;
    padding: 15px; /* Adicionei um padding para espaçamento interno */
    font-weight: bold;
    width: 100%;
    box-sizing: border-box; /* Para incluir o padding na largura total */
}

.cabecalho__logo-container {
    display: flex;
    align-items: center;
}

.cabecalho__texto {
    color: #FFFFFF; 
    font-size: 1.5rem; 
    margin-left: 10px; /* Espaçamento entre o logo e o texto */
}

.cabecalho__logo {
    width: 160px; 
}

/* Dividir em colunas */
.coluna {
    flex: 1;
    display: flex;
    align-items: center;
}

.coluna-meio {
    justify-content: center;
}

.coluna-direita {
    justify-content: flex-end;
    padding-right: 1%;
}

/* Estilo dos links */
.cabecalho__link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 15px; /* Espaçamento entre os links */
}

.coluna-meio a span {
    border-bottom: 3px solid #EFA007; /* Adicionando sublinhado */
    padding-bottom: 3px; /* Espaço entre a palavra e o sublinhado */
}

.coluna-meio a span:hover {
    border-bottom: 3px solid #FFFFFF; /* Adicionando sublinhado */
    padding-bottom: 3px; /* Espaço entre a palavra e o sublinhado */
    transition-duration: 0.5s;
}

/* Estilo do botão */
.btnDEMO {
    background-color: #EFA007;
    color: #0E2881;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
}

.btnDEMO:hover {
    background-color: #FFFFFF;
    color: #0E2881;
}

/*BANNER*/

.banner-container {
    position: relative;
    width: 100%;
    overflow: hidden; /* Para garantir que não haja rolagem horizontal */
    display: flex;
    padding-top: 90px;
}

.banner {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.logopng {
    width: 60%; /* 3/5 da largura total */
    height: auto; /* Isso garante que a altura seja ajustada automaticamente */
    align-self: center; /* Ajustado para centralizar verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.logo{
    padding: 0 0 0 20%;
}

.formulario {
    width: 20%; /* 2/5 da largura total */
    background-color: #0E2881; /* Cor de fundo azul */
    padding: 20px;
    border-radius: 10px; /* Bordas arredondadas */
    color: #ffffff; /* Cor do texto branco */
    font-weight: bold;
}

.formulario h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 16px); /* Largura total menos o preenchimento */
    padding: 8px;
    border: 1px solid #ffffff; /* Borda branca */
    border-radius: 5px; /* Bordas arredondadas */
    background-color: #ffffff; /* Fundo branco transparente */
    color: #0E2881; /* Cor do texto branco */
}

.input-group input:last-child {
    margin-right: 0;
}

/* Estilo do botão */
/* Estilizando o botão */
.btnFORM {
    width: 100%; /* Definindo a largura total do botão */
    background-color: #EFA007;
    color: #0E2881;
    padding: 8px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: block; /* Convertendo o botão em um elemento de bloco */
    margin: 0 auto; /* Definindo margem automática para centralizar horizontalmente */
    font-size: 24px;
}


.btnFORM:hover {
    background-color: #FFFFFF;
    color: #0E2881;
}



/* FORMULARIO DE BUSCA (WEBGIS)*/

#search-container {
    margin-right: 20px; /* Ajuste de margem para separação visual */
}

#buscaendereco-form {
    display: flex;
    align-items: center;
}

#address-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#address-input::placeholder {
    color: #CCCCCC;
}

#address-input:focus {
    outline: none;
}

#buscaendereco-form button {
    padding: 10px 20px;
    background-color: #EFA007;
    color: #0E2881;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#buscaendereco-form button:hover {
    color: #FFFFFF;
    transition-duration: 0.5s;
}

#btnIdentify.ativo {
    /* Adicione estilos para indicar que a identificação de feição está habilitada */
    background-color: #4ac568;
    color: white;
}

#btnMedida.ativo {
    /* Adicione estilos para indicar que a medida de feição está habilitada */
    background-color: #4ac568;
    color: white;
}

#btnBuffer.ativo {
    /* Adicione estilos para indicar que a medida de feição está habilitada */
    background-color: #4ac568;
    color: white;
}

/* BUTTON CONTAINER MAPA */

#buttonContainer-mapa {
    display: flex;
    flex-direction: row; /* Alterado para row para organizar horizontalmente */
    align-items: right;
    padding: 10px;
}

#buttonContainer-mapa button {
    position: relative; /* Permitirá posicionamento relativo para o botão */
    width: 50px;
    height: 50px;
    font-family: 'Space Grotesk', sans-serif;
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #EFA007; /* Cor de fundo roxa */
    padding: 10px 20px; /* Adicionado preenchimento aos botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adicionado efeito de transição suave */
}

#buttonContainer-mapa button:hover {
    background-color: #4ac568; /* Alterado para um tom mais claro ao passar o mouse */
}

#buttonContainer-mapa button img {
    position: absolute; /* Permitirá posicionamento absoluto para a imagem */
    top: 50%; /* Posiciona a parte superior da imagem no meio do botão */
    left: 50%; /* Posiciona a esquerda da imagem no meio do botão */
    transform: translate(-50%, -50%); /* Move a imagem para cima e para a esquerda em 50% do seu próprio tamanho */
    width: 20px;
    height: auto;
}

/* MAPA */ 
#map {
    height: 85vh;  /* ou ajuste conforme necessário */
    flex: 1;
    border-radius: 10px;
}

/* LANDING PAGE */
.servicos {
    padding: 50px 10vw;
    background-image: url('/static/assets/img/background-servicos.png');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir todo o elemento */
    background-position: center; /* Centraliza a imagem */
    font-size: 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
}


.servicos h2{
    text-align: left;
    color: #0E2881;
    font-weight: bold;
}

.servicos_texto{
    text-align: left;
    color: white;
}

.servicos_texto h2{
    text-align: left;
    color: white;
}

.servicos section {
    display: flex;
    margin-bottom: 20px;
    background-color: #0E2881; /* Cor de fundo dos retângulos */
}

.servicos section div {
    flex: 1;
    padding: 20px;
}

.servicos img {
    width: 50%; /* Definindo a largura da imagem para ocupar 50% da largura da seção */
    height: auto; /* Mantendo a proporção da imagem */
}

.servicos h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: left; /* Alinhando o texto à esquerda */
}

/* Ajustando a largura do texto para ocupar a outra metade da seção */
.servicos section div {
    flex: 1; /* Definindo o texto para ocupar a mesma largura que a imagem */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinhando o conteúdo verticalmente */
}


/* Alternar a ordem da imagem e do texto para servicos_2 */
.servicos_2 img {
    order: -1;
}

/* Estilos para a seção O que é GIS */
.o-que-e-gis {
    padding: 10px 10vw;
    background-color: #0E2881;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: row; /* Alterado para row para alinhar itens na horizontal */
    color:white
}

.o-que-e-gis div {
    flex: 1; /* Ocupa o espaço restante */
    padding-right: 20px; /* Adicionado espaçamento entre texto e imagem */
    display: flex; /* Torna o conteúdo flexível */
    flex-direction: column; /* Organiza o conteúdo em coluna */
    justify-content: center; /* Alinha o conteúdo verticalmente no centro */
}


.o-que-e-gis h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.o-que-e-gis img {
    width: 560px;
    height: auto;
    align-self: center; /* Alinha a imagem verticalmente no centro */
}

/* Estilos para a seção Texto Aprofundado */
.sobre-nos {
    padding: 100px;
    background-color: #EFEFEF;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: row; /* Alterado para row para alinhar itens na horizontal */
    color: #302D2D
}

.sobre-nos div {
    flex: 1; /* Ocupa o espaço restante */
    padding-right: 20px; /* Adicionado espaçamento entre texto e imagem */
}

.sobre-nos h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.sobre-nos img {
    width: 560px;
    height: auto;
    align-self: center; /* Alinha a imagem verticalmente no centro */
}

/* FOOTER */

.rodape {
    background-color: #302D2D;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Distribui os itens igualmente ao longo do eixo principal */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.rodape_mapa {
    background-color: #302D2D;
    color: #ffffff;
    padding-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between; /* Distribui os itens igualmente ao longo do eixo principal */
    align-items: center; /* Alinha os itens verticalmente ao centro */
}

.rodape__texto {
    font-size: 20px;
    text-align: left;
    margin-left: 10%;
}

.rodape__texto b{
    font-weight: bold;
}

/* Estilo para a div da logo */
.rodape__logo {
    margin-right: 10%; /* Empurra a div para o canto direito */
}


@media screen and (max-width: 768px) {
    /* Aplique ajustes de estilo para telas menores que 768px */
    .cabecalho {
        flex-direction: column;
        align-items: center;
    }}

/* Estilo para janela modal da tabela de atributos */
.modal-body {
    max-height: 500px;
    overflow-y: auto;
}
