* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1.6;
    font-family: "Montserrat",'Space Grotesk', sans-serif;
    min-height: 100vh;
    background: linear-gradient(#041833,#04244F,#154580);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0; /* Adicionado unidade de medida */
    padding: 0; /* Adicionado unidade de medida */
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
}

/*HEADER*/

.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.cabecalho__logo-container {
    display: flex;
    align-items: center;
}

.cabecalho__texto {
    color: #FFFFFF; 
    font-size: 1.5rem; 
    margin-left: 10px; /* Espaçamento entre o logo e o texto */
}

.cabecalho__logo {
    width: 25px; 
}

/* BANNER */

.banner {
    width: 100%; /* Para preencher a tela horizontalmente */
    height: auto; /* Para manter a proporção da imagem */
    max-height: 200px; /* Altura máxima desejada */
}

/* FORMULARIO DE BUSCA (WEBGIS)*/

#search-container {
    margin-right: 20px; /* Ajuste de margem para separação visual */
}

#buscaendereco-form {
    display: flex;
    align-items: center;
}

#address-input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
}

#address-input::placeholder {
    color: #CCCCCC;
}

#address-input:focus {
    outline: none;
}

#buscaendereco-form button {
    padding: 10px 20px;
    background-color: #7B78E5;
    color: #FFFFFF;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#buscaendereco-form button:hover {
    background-color: #C98CF1;
}

#buttonContainer {
    margin-left: 80vw; /* Empurra a div para a direita o máximo possível */
    display: flex;
    flex-direction: row; /* Alterado para row para organizar horizontalmente */
    align-items: right;
    padding: 10px;
}

#buttonContainer button {
    font-family: 'Space Grotesk', sans-serif;
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #7B78E5; /* Cor de fundo roxa */
    padding: 10px 20px; /* Adicionado preenchimento aos botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adicionado efeito de transição suave */
}

#buttonContainer button:hover {
    background-color: #C98CF1; /* Alterado para um tom mais claro ao passar o mouse */
}

#btnIdentify.ativo {
    /* Adicione estilos para indicar que a identificação de feição está habilitada */
    background-color: #2ab385;
    color: white;
}

#btnMedida.ativo {
    /* Adicione estilos para indicar que a medida de feição está habilitada */
    background-color: #2ab385;
    color: white;
}

/* BUTTON CONTAINER MAPA */


#buttonContainer-mapa {
    display: flex;
    flex-direction: row; /* Alterado para row para organizar horizontalmente */
    align-items: right;
    padding: 10px;
}

#buttonContainer-mapa button {
    position: relative; /* Permitirá posicionamento relativo para o botão */
    font-family: 'Space Grotesk', sans-serif;
    margin-right: 10px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    background-color: #7B78E5; /* Cor de fundo roxa */
    padding: 10px 20px; /* Adicionado preenchimento aos botões */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Adicionado efeito de transição suave */
}

#buttonContainer-mapa button:hover {
    background-color: #C98CF1; /* Alterado para um tom mais claro ao passar o mouse */
}

#buttonContainer-mapa button img {
    position: absolute; /* Permitirá posicionamento absoluto para a imagem */
    top: 50%; /* Posiciona a parte superior da imagem no meio do botão */
    left: 50%; /* Posiciona a esquerda da imagem no meio do botão */
    transform: translate(-50%, -50%); /* Move a imagem para cima e para a esquerda em 50% do seu próprio tamanho */
    width: 20px;
    height: auto;
}

/* MAPA */ 
#map {
    height: 85vh;  /* ou ajuste conforme necessário */
    flex: 1;
    border-radius: 10px;
}

/* LANDPAGE */

/* Estilos para a seção Sobre Nós */
.servicos {
    padding: 50px 10vw;
    background-color: #04244F; /* Cor azul escura */
    font-size: 20px;
    text-align: center;
    color: #04244F;
    display: flex;
    flex-direction: column;
}

.servicos h2{
    text-align: left;
    color: white;
}

.servicos_1{
    text-align: left;
}

.servicos_1 h2{
    text-align: left;
    color: #04244F;
}

.servicos_2{
    text-align: right;
}

.servicos_2 h2{
    text-align: right;
    color: #04244F;
}

.servicos section {
    display: flex;
    margin-bottom: 20px;
    background-color: #ffffff; /* Cor de fundo dos retângulos */
}

.servicos section div {
    flex: 1;
    padding: 20px;
}

.servicos img {
    width: 350px;
    height: 200px;
}

.servicos h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

/* Alternar a ordem da imagem e do texto para servicos_2 */
.servicos_2 img {
    order: -1;
}

/* Estilos para a seção O que é GIS */
.o-que-e-gis {
    padding: 10px 10vw;
    background-color: #302d2d;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: row; /* Alterado para row para alinhar itens na horizontal */
    color:white
}

.o-que-e-gis div {
    flex: 1; /* Ocupa o espaço restante */
    padding-right: 20px; /* Adicionado espaçamento entre texto e imagem */
}

.o-que-e-gis h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.o-que-e-gis img {
    width: 250px;
    height: auto;
    align-self: center; /* Alinha a imagem verticalmente no centro */
}

/* Estilos para a seção Texto Aprofundado */
.sobre-nos {
    padding: 10px 10vw;
    background-color: black;
    font-size: 20px;
    text-align: left;
    display: flex;
    flex-direction: row; /* Alterado para row para alinhar itens na horizontal */
    color:white
}

.sobre-nos div {
    flex: 1; /* Ocupa o espaço restante */
    padding-right: 20px; /* Adicionado espaçamento entre texto e imagem */
}

.sobre-nos h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.sobre-nos img {
    width: 200px;
    height: auto;
    align-self: center; /* Alinha a imagem verticalmente no centro */
    order: -1;
}

/* FOOTER */

.rodape {
    background-color: #04244F;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.rodape__texto {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    /* Aplique ajustes de estilo para telas menores que 768px */
    .cabecalho {
        flex-direction: column;
        align-items: center;
    }}